body, html{
  margin : 0;
  padding : 0;
  overflow : hidden;
}

#canvas{
  margin-top:20px;
  background-color : #F0FAFF;
}

#overlay{
  position: absolute;
  background : url("../images/trans.gif");
  z-index : 1000;
  cursor: pointer;
  width: 200px;
}

#controls{
  width : 100%;
  height : 43px;
  background-image: -moz-linear-gradient(top, #357EC7, white);
  background-image: -webkit-gradient(linear,left top,right bottom,color-stop(0, #357EC7),color-stop(1, white));	
  border-top : none;
  border-left : none;
  border-right : none;
  border-bottom : 1px solid #999;
}

.btn{ 
  padding: 17px 8px 13px 8px;
  height : 10px;
  margin: 0px 0px 0px 2px;
  float : left;
  cursor : pointer;
  font-family: Verdana;
  font-size : 12px;
  background-color : #efefef;
}

#logo{
  position : relative;
  float : left;
  font-family : Impact;
  font-size : 24px;
  color : black;
  padding-left : 5px;
  margin : 10px;  
  cursor : pointer;
  margin-left: 5px;
}

#openWin{
  position : absolute;
  top : 60px;
  left : 20px;
  width : 250px;
  height : 510px;
  background-color : #dcdcdc;
  z-index : 6000;
  display : none;
}

#files{
  position : relative;
  margin : 10px;  
  background-color : white;
  width : 230px;
  height : 450px;
  overflow : auto;
}

#fileTitle{
  font-family : Georgia, serif;
  font-style : italic; 
  margin-left : 10px;
  margin-top : 10px;
}
form{
  padding :0;
  margin : 0;
}
input{
  border : 1px solid gray;
  color : gray;
  padding : 4px;
  width: 200px;
}
#saveForm{
  position : relative;
  float : left;
  font-family : Georgia, serif;
  font-size : 12px;
  padding : 10px 0px 0px 18px;
}
/* related to NodeGraph & li/ul */
ul{
  padding : 0;
  margin : 0;
  background-color : white;
}

li{
  list-style : none;
}

li, .file {
  font-size : 12px;
  margin: 0;
  cursor : pointer;
  background-color : white;
  font-family : Georgia, serif;
  border-bottom : 1px solid #cccccc;
  padding : 5px 10px 5px 10px;
}

textarea, input{ 
  outline:none;
}


.btn_large{ 
  	display: block;
	float: center;
    text-align:center;
	color: #fff;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 20px 10px 20px 10px;
	height: 30px;
    width:133px;
	line-height: 28px;
	margin-top: 30px;    
    margin-left:auto;
    margin-right:auto;
	position: relative;
	background-color: #0078B0;
	box-shadow: inset 0 35px 35px -18px #0078B0, inset 3px 0 12px #600;
	background-image: -moz-linear-gradient(top, #0078B0, #000000);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #0078B0),color-stop(1, #000000));
	-o-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
}
.btn_large:hover {
	border: none;
	box-shadow: inset 0 -35px 35px -18px #7A7A7A, inset 3px 0 12px #600;
	background-image: -moz-linear-gradient(top, #000000, #7A7A7A);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #000000),color-stop(1, #7A7A7A));
	padding-right: 20px
}


#logo_large{
  font-family : Impact;
  font-size : 45px;
  color : white;
  padding-top :8%;
  padding-bottom:5%;
  margin-left:auto;
  margin-right:auto;
  width:auto;
  text-align:center;
}

a {color: white; font-family:fantasy; font-size: 16px; text-decoration:none;}
a:visited {text-decoration:none; }
a:hover {text-decoration:none; }
a:active {text-decoration:none; }

#mainmenu{
  width:100%;
  height:200%;
  background-position: left center;
  background-image: -webkit-radial-gradient(center, circle closest-side, #FFFFFF 0%, #0078B0 100%);
  overflow-x:hidden; 
  background-repeat:repeat;
  overflow:no-display;
}

#view {
  position : relative;
  float : left;
  font-family:fantasy;
  font-size : 14px;
  color : gray;
  padding-top : 15px;
  margin : 10px; 
  margin-left: 380px; 
}

.highlight { background: yellow; }

    #content-slider {
      width: 490px;
      height: 6px;
      margin: 5px;
      margin-left:50%;
      background: #BBBBBB;
      position: relative;
    }

    .ui-slider-handle {
      width: 10px;
      height: 14px;
      position: absolute;
      top: -4px;
      background: #478AFF;
      border: solid 1px black;
      border-radius: 3px;
    }

    #content-scroll {
      overflow: hidden;      
      background-color : #F0FAFF;
    }

